*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this define how much 1rem is.
  //default root font-size value is 16px.
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
}

$color-primary: white;
$color-black: #181818;
html {
  scrollbar-face-color: $color-primary;
  scrollbar-base-color: $color-primary;
  scrollbar-3dlight-color: $color-primary;
  scrollbar-highlight-color: $color-primary;
  scrollbar-track-color: $color-black;
  scrollbar-arrow-color: $color-black;
  scrollbar-shadow-color: $color-primary;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
}
::-webkit-scrollbar-button {
  background-color: $color-primary;
}
::-webkit-scrollbar-track {
  background-color: $color-black;
}
::-webkit-scrollbar-track-piece {
  background-color: $color-black;
}
::-webkit-scrollbar-thumb {
  height: 5rem;
  background-color: $color-primary;
  border-radius: 0.3rem;
}
::-webkit-scrollbar-corner {
  background-color: $color-black;
}
::-webkit-resizer {
  background-color: $color-primary;
}
